html{
    font-family:'Times New Roman', Times, serif;
}
header{
    border: 5px solid black;
    width: 96%;
    padding: 1.25em;
    margin: auto;
    box-shadow: 5px 5px 10px 2px black;
    background-color: white;
    background-color: lightsteelblue;
}
body{
    width: 80%;
    margin: auto;
    background-image: linear-gradient(to right, rgb(89, 89, 255), white, rgb(245, 89, 89));
}
#stuff{
    border: 5px solid;
    padding: 30px;
    background-color: white;
    margin: auto;
}
img{
    border: 5px solid;
    width: 80%;
}
nav{
    border: 0.5px solid;
    padding: 2em;
    font-size: large;
}
nav>a{
    color: black;
}
.references{
    border: 2px solid;
    padding: 3px;
    font-size: small;
}


